

.imageembed-wrapper {
  padding:4px;
  margin:0.5em;
  background-color:#EEEEEE;
  border:1px outset;

  /* display:block doesn't shrink-wrap correctly unless floated */
  /* display:inline-block messes with line-height */
  /* display:table seems the best at doing what we want */
  display:table;
}

/* The system will automatically give the image its true size */
.imageembed-wrapper img{
}

/* 
There is an imageembed-inner that has the actual width of the image hard-coded 
provided from the server-side inspection. 
CSS tricks to do this reliably failed.
*/
.imageembed-inner {
	display:block;
}

/* Figures are aligned center by default */
.imageembed-wrapper {
  /* You may not always want clear:both, but it gives nice default space most of the time. */
  clear:both;
  margin-left: auto;
  margin-right: auto;
}

/* Or explicitly, if an 'align' was detected in the source */
.imageembed-wrapper.aligned-left {
  float:left;
  clear:left;
  margin-right:1em;
  margin-left:0;
}

.imageembed-wrapper.aligned-right {
  float:right;
  clear:right;
  margin-left:1em;
  margin-right:0;
}

/* Caption element will not be printed if empty */
.imageembed-wrapper .caption {
  font-size: 0.8em;
  margin-top: .5em;
  margin-bottom: .5em;
}
